//
//  SecretConstants.swift
//  IgniteGreenhouse
//
//  Created by Doruk Gezici on 12/07/2017.
//  Copyright © 2017 ARDIC. All rights reserved.
//

import Foundation

public let APP_KEY = "APP KEY" // IoT-Ignite App Key
public let MASTER_MAIL = "MAIL" // IoT-Ignite Tenant User Mail
public let MASTER_PASS = "PASSWORD" // IoT-Ignite Tenant User Password
public let TENANT_DOMAIN = "TENANT_DOMAIN" // IoT-Ignite Tenant Domain
